@import "normalize.css";

body {
    background-color: #cecece;
    font-family: "Arial", serif;
    padding: 0 1em;
}

h1 {
    font-size: 3em;
    margin-bottom: 5px;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1em;
}
