.dialog {
    padding: 20px;
    background-color: #fff;
    margin-bottom: 50px;
    box-shadow: 0 0 4px 1px black;
}

.dialog .info {
    display: flex;
}

.dialog .info > * {
    flex: 1;
}

.dialog .info > :last-child {
    flex-grow: 0;
}
